﻿@model WareHouse.Models.Brands
@{
    ViewData["Title"] = "Đặc tính-Nhãn hiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form asp-action=@(ViewBag.IsCreate ? "Create" : "Edit")>
        <h2 class="text-center" style="margin-top:5px">@(ViewBag.IsCreate ? "THÊM ":"CẬP NHẬT ")NHÃN HIỆU</h2>
        <div class="form-row">
            @if (!(bool)ViewBag.IsCreate)
            {
                Html.HiddenFor(m => m.Id);
                <input name="code" class="form-control" type="hidden" value="@ViewBag.Code">
            }


            <div class="col-md-6">
                <div class="">
                    <label asp-for="BrandName" class="">Nhãn hiệu</label>
                    <input asp-for="BrandName" class="form-control">
                    <span asp-validation-for="BrandName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="BrandCode" class="">Mã</label>
                    <input asp-for="BrandCode" class="form-control">
                    <span asp-validation-for="BrandCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="m-t-10 position-relative form-group">
                    <br />
                    <a asp-action="index" style="margin-top:10px" class=" btn btn-warning float-left">Trở về</a>
                    <button style="margin-top:10px" class=" btn btn-primary float-right" type="submit">@(ViewBag.IsCreate == true ? "Thêm" : "Cập nhật")</button>
                </div>

            </div>
        </div>
    </form>