﻿@model cloudscribe.Pagination.Models.PagedResult<Brands>

@{
    ViewData["Title"] = "Đặc tính-Nhãn hiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Controller"] = "Brands";
    ViewData["Action"] = "Index";
    int i = 1;
}
<div class="main-card mb-3 card">
    <h2 class="text-center" style="margin-top:5px">NHÃN HIỆU</h2>
    <div class="card-body">
       
        <form asp-action="Index" method="get">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <input type="text" name="searchKey" style="margin-right:5px" class="form-control col-sm-2" placeholder="Type to search">

                        <button class="btn btn-info"><i class="fa fa-search"></i></button>
                        <a asp-action="Create" class="float-right btn btn-success" style="margin-left:auto">Thêm</a>
                    </div>
                </div>

            </div>
        </form>
        <div class="table-responsive" style="border-radius:7px">
            <table class="mb-0 table table-bordered text-center">
                <thead style="background-color:#85a7ed">
                    <tr>
                        <th>#</th>
                        <th>Nhãn hiệu</th>
                        <th>Mã</th>
                        <th class="text-center font-size-lg">
                            <a asp-action="Create" class="font-size-xlg "><i class="metismenu-icon pe-7s-plus"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0)
                    {
                        foreach (var item in Model.Data)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td> @Html.DisplayFor(modelItem => item.BrandName)</td>
                                <td> @Html.DisplayFor(modelItem => item.BrandCode)</td>

                                <td class="text-center">
                                    <a asp-action="Edit" class="btn btn-info text-center" asp-route-id="@item.Id">Cập nhật</a>
                                    @*<a asp-action="Delete" asp-route-id="@item.Id" class="getModal"><i class="fa fa-trash"></i></a>*@
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="text-center">
                            <td colspan="4"><em>Hiện không có dữ liệu nào</em></td>
                        </tr>
                    }
                </tbody>
                @if (Model.TotalItems > Model.PageSize)
                {
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center justify-content-center">
                                <partial name="_Pagination" view-data="ViewData" model="Model" />

                            </td>
                        </tr>
                    </tfoot>
                }
            </table>

        </div>
    </div>
</div>
@section scripts{   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}