﻿@model WareHouse.Models.StatisticViewModel
@inject IJsonHelper Json;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DASHBOARD</h1>
    <div id="chart"></div>
    <br />
    <div id="chart1"></div>
</div>
@section scripts{

    <script>
    var options = {
        series: [@Model.countAll,@Model.countImportReceipt,@Model.countExportReceipt],
        chart: {
            width: 380,
            type: 'pie',
        },
        labels: ['Tất cả',"Nhập kho","Xuất kho"],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

        var options1 = {
            series: [{
                name: 'Xuất kho',
                data: [@Model.countExportReceipt]
            }, {
                name: 'Nhập kho',
                data: [@Model.countImportReceipt]
            }],
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
                stackType: '100%'
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                },
            },
            stroke: {
                width: 1,
                colors: ['#fff']
            },
            colors: ["#feb019","#00e396"]
            ,
            xaxis: {
                categories: ["Xuất/Nhập"],
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + "Đơn vị"
                    }
                }
            },
            fill: {
                opacity: 1

            },
            legend: {
                position: 'top',
                horizontalAlign: 'left',
                offsetX: 40
            }
        };


        var chart1 = new ApexCharts(document.querySelector("#chart1"), options1);
        chart1.render();

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
    </script>
}