﻿@model cloudscribe.Pagination.Models.PagedResult<Receipts>

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Controller"] = "Receipt";
    ViewData["Action"] = ViewBag.Actions;
    int i = 1;
}
<div class="main-card mb-3 card">
    <h2 class="text-center" style="margin-top:5px" >@ViewBag.Title</h2>
    <div class="card-body">
        <form asp-action="@ViewBag.Actions" method="get">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <input type="text" name="searchKey" style="margin-right:5px" class="form-control col-sm-2" placeholder="Type to search">
                        <input type="date" name="dateSearch" style="margin-right:5px" class="form-control col-sm-2" />
                        <button class="btn btn-info"><i class="fa fa-search"></i></button>
                        <a asp-action="Create" asp-route-actions="@ViewBag.Actions" asp-route-Type="@ViewBag.Type" class="float-right btn btn-success" style="margin-left:auto">Thêm</a>
                    </div>
                </div>
              
            </div>
        </form>
        <div class="table-responsive" style="border-radius:7px">
            <table class="mb-0 table table-bordered text-center">
                <thead style="background-color:#85a7ed">
                    <tr>
                        <th>#</th>
                        <th>Mã</th>
                        <th>Ngày</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0)
                    {
                        foreach (var item in Model.Data)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td> @Html.DisplayFor(modelItem => item.ReceiptCode)</td>
                                <td> @Html.DisplayFor(modelItem => item.ReceiveDay)</td>
                                <td> @Html.DisplayFor(modelItem => item.CreatedAt) </td>
                                <td> @Html.DisplayFor(modelItem => item.UpdateAt) </td>
                                <td>
                                    @(string.Format("{0:0,0} VNĐ",item.TotalPrice))
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Note) </td>
                                <td class="text-center">
                                    @if (item.IsEdit == true)
                                    {
                                        <a asp-action="Edit" class="btn btn-info text-center" asp-route-id="@item.id" asp-route-actions="@ViewBag.Actions" asp-route-Type="@ViewBag.Type">Cập nhật</a><span> |</span>
                                    }
                                    <a href="~/Receipt/Print/@item.id" onClick="window.open(this.href,'winname','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no').print(); return false" target="_blank" class="btn btn-success text-center"><i class="font-size-lg pe-7s-print"></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="text-center">
                            <td colspan="8"><em>Hiện không có dữ liệu nào</em></td>
                        </tr>
                    }
                </tbody>
                @if (Model.TotalItems > Model.PageSize)
                {
                    <tfoot>
                        <tr>
                            <td colspan="8" class="text-center justify-content-center">
                                <cs-pager cs-paging-pagenumber=(int)Model.PageNumber
                                          cs-paging-totalitems=(int)Model.TotalItems
                                          cs-paging-pagesize=Model.PageSize
                                          cs-pagenumber-param="pageNumber"
                                          asp-controller=@ViewData["Controller"]
                                          asp-action=@ViewData["Action"]
                                          asp-route-dateSearch=@(Context.Request.Query["dateSearch"])
                                          asp-route-searchKey=@(Context.Request.Query["searchKey"])
                                          cs-pager-li-current-class="page-item active"
                                          cs-pager-li-non-active-class="page-item disabled"
                                          cs-pager-li-other-class="page-item"
                                          cs-pager-link-other-class="page-link"
                                          cs-pager-link-current-class="page-link"
                                          cs-pager-ul-class="pagination justify-content-center">
                                </cs-pager>


                            </td>
                        </tr>
                    </tfoot>
                }

            </table>

        </div>
    </div>
</div>
@section scripts{   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}