﻿@model WareHouse.Models.Receipts
@using WareHouse.Helpers
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<style>


    body {
        font-size: 1rem;
    }

    #plone-toolbar-container {
        display: None;
    }

    .plone-toolbar-container {
        display: None;
    }
    .cake-width{
        width:200px;
    }
</style>
<form>
    <div id="logo">

        <img src="~/css/assets/images/logo-inverse.png" style="max-height:100px;max-width:100px" />
    </div>
    <div id="company">
        <h2 class="name">Quản lý kho</h2>
        <div> Đại Học Văn Lang</div>
        <div>09-xxx--xx-xxx</div>
        <div><a href="mailto:company@example.com">abc@gmail.com</a></div>
    </div>
    <div class="fa-align-justify">
        <h3 class="text-center">THÔNG TIN PHIẾU @Constants.TITLESWITCH[Model.Type]</h3>
        <br />
        <h4 class="text-center">@Model.ReceiveDay.ToString("dd/MM/yyyy")</h4>
        <div class="main-card col-md-12 card">
            <h4 class="m-t-5 text-center" style="margin-top:10px"><b>THÔNG TIN CHUNG</b></h4>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <td class="cake-width">
                            Họ tên khách hàng:
                        </td>
                        <td>@Model.CustomerName</td>
                    </tr>
                    <tr>
                        <td class="cake-width">Công ty khách hàng: </td>
                        <td>
                            @Html.DisplayFor(x => x.CompanyName)
                        </td>
                    </tr>

                    <tr>
                        <td class="cake-width">SĐT:</td>
                        <td> @Html.DisplayFor(x => x.Phone)</td>
                    </tr>
                    <tr>
                        <td class="cake-width">Email:</td>
                        <td> @Model.Phone</td>
                    </tr>

                    <tr>
                        <td class="cake-width">Địa chỉ:</td>
                        <td> @Model.Adress</td>
                    </tr>
                    <tr>
                        <td class="cake-width">Chứng từ kiểm: </td>
                        <td>@Model.LicensesCheck</td>
                    </tr>
                    <tr>
                        <td class="cake-width">Chứng từ nhập:</td>
                        <td> @Model.LicensesIn</td>
                    </tr>
                    <tr>
                        <td class="cake-width">Diễn giả: </td>
                        <td>@Model.Description</td>
                    </tr>
                </table>
            </div>

            <div class="main-card col-md-12 card">
                <h4 class="m-t-5 text-center" style="margin-top:10px"><b>THÔNG TIN CHI TIẾT</b></h4>
                <div class="row">
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered border">
                            <thead>
                                <tr>
                                    <th>Vật liệu</th>
                                    <th>Số lượng</th>
                                    <th>Quy cách</th>

                                    <th>Đơn giá</th>
                                    <th>Đơn vị</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.ReceiptDetails.Count > 0)
                                {

                                    int j = 0;
                                    foreach (var item in Model.ReceiptDetails)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(x => x.ReceiptDetails[j].Materials.MatName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.ReceiptDetails[j].Quantity, new { htmlAttributes = new { @class = "form-control", @id = "quantity" + j, @onchange = "calculatePrice(this.id)" } })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.ReceiptDetails[j].Mats_Proces.Procedures.ProcedureName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                            </td>
                                            <td>
                                                @(string.Format("{0:0,0} VNĐ",item.Price))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.ReceiptDetails[j].Amount, new { htmlAttributes = new { @class = "form-control", @id = "amounts" + j, @readonly = "readonly" } })


                                            </td>
                                            <td>
                                                @(string.Format("{0:0,0} VNĐ",item.TotalPrice))
                                            </td>

                                        </tr>
                                        j++;

                                    }

                                }
                            </tbody>
                            <tfoot class="pull-right">
                                <tr>
                                    <td colspan="6" class="text-right">Tổng tiền:   @(string.Format("{0:0,0} VNĐ",Model.TotalPrice))</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>

            <br />
            <div class="col-12" style="text-align:center;">
                <div class="row">

                    <div class="col-md-6 pull-left">
                        <h4> BÊN BÁN </h4>
                        </h3>(Ký và ghi rõ họ và tên)</h3>
                    </div>
                    <div class="col-md-6 pull-right">
                        <h4>BÊN MUA </h4>
                        </h3>(Ký và ghi rõ họ và tên)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
