﻿@model WareHouse.Models.CategoryTypes
@{
    ViewData["Title"] = "Loại vật tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form asp-action=@(ViewBag.IsCreate ? "Create" : "Edit")>
        <h2 class="text-center" style="margin-top:5px">@(ViewBag.IsCreate ? "THÊM ":"CẬP NHẬT ")LOẠI VẬT TƯ</h2>
        <div class="form-row">
            @if (!(bool)ViewBag.IsCreate)
            {
                Html.HiddenFor(m => m.Id);
                <input name="code" class="form-control" type="hidden" value="@ViewBag.Code">
                <input asp-for="CateLocation" hidden class="form-control">
            }
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="CateTypeName" class="">Tên</label>
                    <input asp-for="CateTypeName" class="form-control">
                    <span asp-validation-for="CateTypeName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="CateTypeCode" class="">Mã</label>
                    <input asp-for="CateTypeCode" class="form-control">
                    <span asp-validation-for="CateTypeCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="Group_Id" class="">Nhóm</label>
                    @Html.DropDownList("Group_Id", null, htmlAttributes: new { @id = "ddlDistrict", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Group_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="col-12 float-right">
                <a asp-action="index" style="margin-top:10px" class=" btn btn-warning float-left">Trở về</a>
                <button style="margin-top:10px" class=" btn btn-primary float-right" type="submit">@(ViewBag.IsCreate == true ? "Thêm" : "Cập nhật")</button>
            </div>
        </div>
    </form>