﻿@model WareHouse.Models.Users

@{
    Layout = null;
}

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        @using (Html.BeginForm("Delete", "Users", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bạn thực sự muốn xóa?</h4>
                </div>
                <div class="modal-body">
                    <p>@Model.Name</p>
                </div>
             
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-danger pull-left">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        }
    </div>
</div>