﻿@model WareHouse.Models.Users
@using WareHouse.Helpers
@{
    ViewData["Title"] = "Cập nhật NV";
    Layout = "_Layout";
}
@*<div class="modal fade bd-example-modal-lg" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>*@
<form asp-action="Details" class="" enctype="multipart/form-data">
    <h2 class="text-center" style="margin-top:5px">CẬP NHẬT THÔNG TIN</h2>
    <div class="modal-body">
        @Html.HiddenFor(x => x.Id);
        @Html.HiddenFor(x => x.Image);
        @Html.HiddenFor(x => x.isDeactive);
        <input name="code" class="form-control" type="hidden" value="@ViewBag.Code">
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label asp-for="Usersname" class="">Tên đăng nhập</label>
                    <input asp-for="Usersname" class="form-control">
                    <span asp-validation-for="Usersname" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label asp-for="Password" class="">Mật khẩu</label>
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="position-relative form-group">
            <label asp-for="Name" class="">Họ tên</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="position-relative form-group">
            <label asp-for="Address" class="">Địa chỉ</label>
            <input asp-for="Address" placeholder="1234 Main St" type="text" class="form-control">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label asp-for="Email" class="">Email</label>
                    <input asp-for="Email" type="text" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label asp-for="Phone">Số điện thoại</label>
                    <input asp-for="Phone" type="text" class="form-control">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="m-l-10 col-md-6">
            <input type="file" name="imgFiles" onchange="readURL(this,'imgSmall');" accept="image/*" />
            <div class="logo-preview">
                <img src="@Url.Content("~/Image/"+Model.Image)" id="imgSmall" width="200" />
            </div>
        </div>
        @Html.HiddenFor(x => x.Role)
    </div>
    <div>
        <button class="mt-2 btn btn-primary float-right" type="submit">Cập nhật</button>
    </div>
</form>
@*</div>

        </div>
    </div>*@
@section scripts{   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    function readURL(input, target) {
        if (input.files) {
            var reader = new FileReader();
            //if (input.files[0].size > 5242880) {
            //    $('.error').append('<p> File tải lên không quá 5mb</p>');
            //    $('input[type$="file"]').val('');
            //}
            //else {
            //    $('.error').hide();
            reader.onload = function (e) {
                $('#' + target).attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            //}
        }
    }
</script>


}