﻿@model cloudscribe.Pagination.Models.PagedResult<Users>
@{
    Layout = "_Layout";
    ViewData["Controller"] = "Users";
    ViewData["Action"] = "Index";
    ViewData["Title"] = "Người dùng";
    int i = 1;
    var id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
}

<div class="main-card mb-3 card">
    <h2 class="text-center" style="margin-top:5px">NHÂN VIÊN</h2>
    <div class="card-body">
        <div class="table-responsive" style="border-radius:7px">
            <table class="mb-0 table table-bordered text-center">
                <thead style="background-color:#85a7ed">
                    <tr>
                        <th>#</th>
                        <th>Tên NV</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>SDT</th>
                        <th class="text-center font-size-lg">
                            <a asp-action="Create"style="color:white; font-size:1.8rem"><i class="metismenu-icon pe-7s-add-user"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0)
                    {
                        foreach (var item in Model.Data)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td> @Html.DisplayFor(modelItem => item.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.Address)</td>
                                <td> @Html.DisplayFor(modelItem => item.Email)</td>
                                <td> @Html.DisplayFor(modelItem => item.Phone)</td>
                                <td style="text-align:center">
                                    @if (item.Id != id)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info  m-r-10" style="margin-right:10px">Cập nhật</a> <span>|</span>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="getModal btn btn-danger" style="margin-left:10px"><i class="fa fa-trash"></i></a>
                                    }

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="text-center">
                            <td colspan="6"><em>Hiện không có nhân viên nào</em></td>
                        </tr>
                    }
                </tbody>
                @if (Model.TotalItems > Model.PageSize)
                {
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center justify-content-center">
                                <partial name="_Pagination" view-data="ViewData" model="Model" />

                            </td>
                        </tr>
                    </tfoot>
                }
            </table>

        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.getModal', function (e) {
                var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
                e.preventDefault(); /* Không thực hiện action mặc định */
                $.ajax({ /* Gửi request lên server */
                    url: a_href, /* Nội dung trong Details.cshtml cụ thể là detailsModal div được server trả về */
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) { /* Sau khi nhận được giá */
                        $('.modal-content').prepend(data); /* detailsPerson div dưới cùng */
                        $('#deleteModal').modal('show'); /* Hiển thị details modal div dưới kiểu modal */
                    }
                });
            });
            $('.modal-content').on('hidden.bs.modal', function () {
                // refresh current page
                $(this).data('bs.modal', null);
            })
        });
    </script>
}
