﻿@model WareHouse.Models.LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập vào hệ thống";
    Layout = null;
}
    <head>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
        <link href="~/css/logincss/util.css" rel="stylesheet" />
        <link href="~/css/logincss/main.css" rel="stylesheet" />
        <title>@ViewData["Title"] - WareHouse</title>
    </head>
<body>
   
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../images/bg-01.jpg');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form class="login100-form validate-form flex-sb flex-w" asp-action="Signin" asp-controller="Login">
                    @*<span class="login100-form-title p-b-53">
                            Sign In With
                        </span>

                        <a href="#" class="btn-face m-b-20">
                            <i class="fa fa-facebook-official"></i>
                            Facebook
                        </a>

                        <a href="#" class="btn-google m-b-20">
                            <img src="../images/icons/icon-google.png" alt="GOOGLE">
                            Google
                        </a>*@
                    @if (Context.Request.Query["exception"].ToString() == "wrong-login-information")
                    {
                        <div class="text-danger text-center col-12">
                            Sai tài khoản hoặc mật khẩu
                        </div>
                    }

                    @Html.AntiForgeryToken()
                    <div class="p-t-31 p-b-9 col-12">
                        <div class="txt1">
                            Tên đăng nhập
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="Usersname" type="text" class="input100 col-12">
                    </div>

                    <span asp-validation-for="Usersname" style="font-size:10px" class="text-danger m-l-r-auto txt1 "></span>

                    <br />
                    <div class="p-t-13 p-b-9 col-12">
                        <div class="txt1">
                            Mật khẩu
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="Password" type="password" class="input100 col-12">

                    </div>
                    <span asp-validation-for="Password" style="font-size:10px" class="text-danger m-l-r-auto txt1 "></span>
                    <div class="container-login100-form-btn m-t-17 col-12">
                        <button class="login100-form-btn" type="submit">
                            Sign In
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>


</body>
<script src="~/lib/jquery/dist/jquery.js"></script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/js/loginjs/main.js"></script>


