﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WareHouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/vendor/select2/select2.css" rel="stylesheet" />
    <link href="~/css/logincss/hamburgers.min.css" rel="stylesheet" />
    <link href="~/apexchart/apexcharts.css" rel="stylesheet" />
    <style>
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            background-color: #3f6ad8;
        }

        .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
            background-color: #3f6ad8;
        }

        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 24px;
            height: 2px;
            background-color: #3f6ad8;
            border-radius: 10px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }

        .hamburger--arrowturn.is-active .hamburger-inner:after {
            transform: translate3d(5px,-4px,0) rotate(-45deg) scaleX(.7);
        }

        .hamburger--arrowturn.is-active .hamburger-inner::before {
            transform: translate3d(5px,4px,0) rotate(45deg) scaleX(.7);
        }
    </style>
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header closed-sidebar">
        <partial name="_Navbar">
            <div class="app-main">
                <partial name="_Sidebar">
                    <div class="app-main__outer">
                        <div class="app-main__inner">
                            @RenderBody()

                        </div>
                    </div>
            </div>
    </div>

    <div class="modal-content"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    <script src="~/vendor/select2/select2.js"></script>
    <script src="~/apexchart/apexcharts.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        async function post() {
            debugger
            var dates = await getDate();
            var dateg = new Date(dates);
            var datev = dateg.toDateString();
            $.ajax(
                {
                    async: true,
                    type: "POST",
                    url: "@Url.Action("AdjustAmg","Receipt")",
                    data: { mydate: dateg.toUTCString() },
                    success: function (result) {
                        alert("sucess")
                        location.reload();
                    },
                    error: function (req, status, error) {
                        alert("fail")                        
                    }
                });
        }
        function getDate() {
            return $("#dateAdjust").val();
        }
    </script>
</body>
</html>
