﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    var img = User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value;
    var id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
}
<div class="app-header header-shadow">
    <div class="app-header__logo" style="padding-left:4px !important">
        <div>
            <a href="~/Home/Index">
                <img src="~/css/assets/images/logo-inverse.png" style="width:73px;height:52px" />
            </a>
        </div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--arrowturn" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--arrow mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>    <div class="app-header__content">
        <div class="app-footer-left" style="margin-left:30px">
            <ul class="header-menu nav ">
                <li class="nav-item">

                    <input type="datetime-local" name="date" class="search-input form-control" id="dateAdjust" placeholder="Type to search">

                </li>
                <li class="nav-item ml-3">

                    <button class="btn btn-dark form-control" type="submit" id="dateBtn" onclick="post()"><span>Điều chỉnh</span></button>

                </li>
                <li class="dropdown nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-link-icon fa fa-signal"></i>
                        Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-header-right">
        <div class="header-btn-lg pr-0">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">

                    <div class="widget-content-left ">
                        <div class="btn-group">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <img width="42" height="42" class="rounded-circle" src="@Url.Content("~/Image/"+img)" alt="">

                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
                            </a>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <a tabindex="0" class="dropdown-item" asp-controller="Users" asp-action="Details" asp-route-id="@id">Thông tin cá nhân</a>
                                @*<button type="button" tabindex="0" class="dropdown-item">User Account</button>*@
                                <form a asp-action="Logout" asp-controller="Login">
                                    <button tabindex="0" class="dropdown-item" type="submit">
                                        Đăng xuất
                                    </button>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-left  ml-3 header-user-info">
                        <div class="widget-heading font-size-lg">
                            @User.Identity.Name
                        </div>
                        @*<div class="widget-subheading">

                            </div>*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>