﻿
@using netCoreTutorial.DAL;
@using WareHouse.Helpers;
@{
    Layout = null;
}
<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar font-size-lg">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                @*<li class="app-sidebar__heading">Dashboard</li>
                    <li>
                        <a href="index.html" class="mm-active">
                            <i class="metismenu-icon pe-7s-rocket"></i>

                        </a>
                    </li>*@
                @*<li class="app-sidebar__heading">Chức năng</li>*@
                @if (User.IsInRole("ADMIN"))
                {
                    <li>
                        <a asp-action="Index" class="@(Context.Request.Path.ToString().Contains("/Users") ? "mm-active": "")" asp-controller="Users">
                            <i class="metismenu-icon pe-7s-user"></i>
                            Nhân viên
                        </a>
                    </li>
                }
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Đặc tính
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="@((Context.Request.Path.ToString().Contains("/Colors") ||
                                    Context.Request.Path.ToString().Contains("/Brands")||
                                    Context.Request.Path.ToString().Contains("/UnitsMetrics")||
                                    Context.Request.Path.ToString().Contains("/Sizes")
                                    ) ? "mm-show": "")">
                        <li>
                            <a asp-action="Index" class="@(Context.Request.Path.ToString().Contains("/Colors") ? "mm-active": "")" asp-controller="Colors">
                                <i class="metismenu-icon"></i>
                                Màu sắc
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Sizes" class="@(Context.Request.Path.ToString().Contains("/Sizes") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Kích thước
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Brands" class="@(Context.Request.Path.ToString().Contains("/Brands") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Nhãn hiệu
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="UnitsMetrics" class="@(Context.Request.Path.ToString().Contains("/UnitsMetrics") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Đơn vị đo
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-box2"></i>
                        Nguyên vật liệu
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="@((Context.Request.Path.ToString().Contains("/Materials") ||
                                    Context.Request.Path.ToString().Contains("/Procedures")||
                                    Context.Request.Path.ToString().Contains("/CategoryGroups")||
                                    Context.Request.Path.ToString().Contains("/CategoryTypes")
                                    ) ? "mm-show": "")">
                        <li>
                            <a asp-action="Index" asp-controller="Materials" class="@(Context.Request.Path.ToString().Contains("/Materials") ? "mm-active": "")">
                                <i class="metismenu-icon"></i>
                                Vật tư
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Procedures" class="@(Context.Request.Path.ToString().Contains("/Procedures") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Quy cách
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="CategoryGroups" class="@(Context.Request.Path.ToString().Contains("/CategoryGroups") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Nhóm vật tư
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="CategoryTypes" class="@(Context.Request.Path.ToString().Contains("/CategoryTypes") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Loại vật tư
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-note2"></i>
                        Hóa đơn
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="@((Context.Request.Path.ToString().Contains("/Exports") ||
                                    Context.Request.Path.ToString().Contains("/ReImports")||
                                    Context.Request.Path.ToString().Contains("/Imports")
                                    ) ? "mm-show": "")">
                        <li>
                            <a asp-action="Exports" asp-controller="Receipt" class="@(Context.Request.Path.ToString().Contains("/Exports") ? "mm-active": "")">
                                <i class="metismenu-icon"></i>
                                Xuất kho
                            </a>
                        </li>
                        <li>
                            <a asp-action="Imports" asp-controller="Receipt" class="@(Context.Request.Path.ToString().Contains("/Imports") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Nhập mới
                            </a>
                        </li>
                        <li>
                            <a asp-action="ReImports" asp-controller="Receipt" class="@(Context.Request.Path.ToString().Contains("/ReImports") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Nhập trả
                            </a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-graph2"></i>
                        Báo cáo
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="@((Context.Request.Path.ToString().Contains("/Statistics")
                                    ) ? "mm-show": "")">
                        <li>
                            <a asp-action="EIS" asp-controller="Statistics" class="@(Context.Request.Path.ToString().Contains("/EIS") ? "mm-active": "")">
                                <i class="metismenu-icon"></i>
                                Xuất nhập tồn
                            </a>
                        </li>
                        <li>
                            <a asp-action="Export" asp-controller="Statistics" class="@(Context.Request.Path.ToString().Contains("/Export") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Xuất Kho
                            </a>
                        </li>
                        <li>
                            <a asp-action="Import" asp-controller="Statistics" class="@(Context.Request.Path.ToString().Contains("/Import") ? "mm-active": "")">
                                <i class="metismenu-icon">
                                </i>Nhập Kho
                            </a>
                        </li>


                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>