﻿@model WareHouse.Models.Materials
@using WareHouse.Helpers
@{
    ViewData["Title"] = "Vật tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form asp-action=@(ViewBag.IsCreate ? "Create" : "Edit") enctype="multipart/form-data">
        <h2 class="text-center" style="margin-top:5px">@(ViewBag.IsCreate ? "THÊM ":"CẬP NHẬT ")VẬT TƯ</h2>
        <div class="form-row">
            @if (!(bool)ViewBag.IsCreate)
            {
                <input asp-for="Id" class="form-control" type="hidden">
                <input asp-for="CreatedAt" class="form-control" type="hidden">
                <input name="code" class="form-control" type="hidden" value="@ViewBag.Code">
                <input asp-for="Images" class="form-control" type="hidden">
                <input name="oldPrice" type="hidden" value="@ViewBag.OldPrice" />
                @*<input asp-for="CateLocation" hidden class="form-control">*@
            }
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="MatCode" class="">Mã</label>
                    <input readonly class="form-control" asp-for="MatCode">
                    <span asp-validation-for="MatCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="MatName" class="">Tên</label>
                    @if (ViewBag.IsCreate)
                    {
                        <input asp-for="MatName" class="form-control">
                    }
                    else
                    {
                        <input asp-for="MatName" class="form-control" readonly>
                    }

                    <span asp-validation-for="MatName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="Locations" class="">Xuất xứ</label>
                    @if (ViewBag.IsCreate)
                    {
                        <input asp-for="Locations" class="form-control">
                    }
                    else
                    {
                        <input asp-for="Locations" class="form-control" readonly>
                    }

                    <span asp-validation-for="Locations" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="PrimePrice" class="">Giá vốn</label>
                    <input asp-for="PrimePrice" class="form-control">
                    <span asp-validation-for="PrimePrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="SellPrice" class="">Giá bán</label>
                    @if (ViewBag.IsCreate)
                    {
                        <input asp-for="SellPrice" class="form-control">
                    }
                    else
                    {
                        <input asp-for="SellPrice" class="form-control" readonly>
                    }
                    <span asp-validation-for="SellPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="Quantity" class="">Số lượng</label>
                    <input asp-for="Quantity" class="form-control">
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label asp-for="Warranty" class="">Bảo hành(Tháng)</label>
                    @if (ViewBag.IsCreate)
                    {
                        <input asp-for="Warranty" class="form-control">
                    }
                    else
                    {
                        <input asp-for="Warranty" class="form-control" readonly>
                    }
                    <span asp-validation-for="Warranty" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label asp-for="Duration" class="">Hạn sử dụng(Tháng)</label>
                    @if (ViewBag.IsCreate)
                    {
                        <input asp-for="Duration" class="form-control">
                    }
                    else
                    {
                        <input asp-for="Duration" class="form-control" readonly>
                    }

                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label asp-for="Descriptions" class="">Mô tả</label>
                    <textarea asp-for="Descriptions" class="form-control"></textarea>
                    <span asp-validation-for="Descriptions" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="GruopMat" class="">Nhóm</label>
                    @if (ViewBag.IsCreate)
                    {
                        @Html.DropDownList("GruopMat", null, htmlAttributes: new { @class = "form-control allow-search", @id = "ddlCity", @readonly = (ViewBag.IsCreate ? "" : "readonly") })
                        @Html.ValidationMessageFor(model => model.GruopMat, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.DisplayFor(x => x.CategoryGroups.CateGroupName)
                        <input asp-for="GruopMat" hidden />
                        <span asp-validation-for="GruopMat" class="text-danger"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="TypeMat" class="">Loại</label>
                    @if (ViewBag.IsCreate)
                    {
                        @Html.DropDownList("TypeMat", null, htmlAttributes: new { @class = "form-control allow-search", @id = "ddlDistrict", @readonly = (ViewBag.IsCreate ? "" : "readonly") })
                        @Html.ValidationMessageFor(model => model.TypeMat, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.DisplayFor(x => x.CategoryType.CateTypeName)
                        <input asp-for="TypeMat" hidden />
                        <span asp-validation-for="TypeMat" class="text-danger"></span>
                    }

                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="SizesMat" class="">Kích thước</label>
                    @if (ViewBag.IsCreate)
                    {
                        @Html.DropDownList("SizesMat", null, htmlAttributes: new { @class = "form-control allow-search", @readonly = (ViewBag.IsCreate ? "" : "readonly") })
                        @Html.ValidationMessageFor(model => model.SizesMat, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.DisplayFor(x => x.Sizes.SizeName)
                        <input asp-for="SizesMat" hidden />
                        <span asp-validation-for="SizesMat" class="text-danger"></span>
                    }

                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="BrandsMat" class="">Nhãn hiệu</label>
                    @if (ViewBag.IsCreate)
                    {
                        @Html.DropDownList("BrandsMat", null, htmlAttributes: new { @class = "form-control allow-search", @readonly = (ViewBag.IsCreate ? "" : "readonly") })
                        @Html.ValidationMessageFor(model => model.BrandsMat, "", new { @class = "text-danger" })
                    }
                    else
                    {

                        @Html.DisplayFor(x => x.Brands.BrandName)
                        <input asp-for="BrandsMat" hidden />
                        <span asp-validation-for="BrandsMat" class="text-danger"></span>
                    }

                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="ColorsMat" class="">Màu</label>
                    @if (ViewBag.IsCreate)
                    {
                        @Html.DropDownList("ColorsMat", null, htmlAttributes: new { @class = "form-control allow-search", @readonly = (ViewBag.IsCreate ? "" : "readonly") })
                        @Html.ValidationMessageFor(model => model.ColorsMat, "", new { @class = "text-danger" })
                    }
                    else
                    {

                        @Html.DisplayFor(x => x.Colors.ColorName)
                        <input asp-for="ColorsMat" hidden />
                        <span asp-validation-for="ColorsMat" class="text-danger"></span>
                    }

                </div>
            </div>

            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label asp-for="Units" class="">Đơn vị</label>
                    @if (ViewBag.IsCreate)
                    {
                        @Html.DropDownList("Units", null, htmlAttributes: new { @class = "form-control allow-search", @readonly = (ViewBag.IsCreate ? "" : "readonly") })
                        @Html.ValidationMessageFor(model => model.Units, "", new { @class = "text-danger" })
                    }
                    else
                    {

                        @Html.DisplayFor(x => x.UnitsMetrics.UnitsName)
                        <input asp-for="Units" hidden />
                        <span asp-validation-for="Units" class="text-danger"></span>
                    }

                </div>
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <table id="datatable" class="table table-striped border">
                            <thead>
                                <tr>
                                    <th>Cấp độ quy cách</th>
                                    <th>Tên quy cách</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Mats_Process.Count > 0)
                                {
                                    if (ViewBag.IsCreate)
                                    {
                                        int j = 0;
                                        foreach (var item in Model.Mats_Process)
                                        {
                                            <tr>
                                                <td><label class="lvel">0</label></td>
                                                <td>
                                                    @Html.DropDownListFor(x => x.Mats_Process[j].ProceId, new SelectList(ViewBag.Procedures, "Id", "ProcedureName"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.HiddenFor(x => x.Mats_Process[j].LevelProce, new { @class = "lvel", value = "0" })
                                                    @*<input hidden name="MatId" class="lvel" value="@j" />*@
                                                </td>

                                                <td>
                                                    @if (j > 0)
                                                    {
                                                        <a href="#" class="btn btn-warning remove m-auto">X</a>
                                                    }
                                                </td>
                                            </tr>
                                            j++;
                                        }
                                    }
                                    else
                                    {
                                        int j = 0;
                                        foreach (var item in Model.Mats_Process)
                                        {

                                            <tr>
                                                <td><label class="lvel">@j</label></td>
                                                <td>
                                                    @Html.DisplayFor(x => x.Mats_Process[j].Procedures.ProcedureName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                  
                                                    @*<input hidden name="MatId" class="lvel" value="@j" />*@
                                                </td>

                                            </tr>
                                            j++;
                                        }
                                    }
                                }
                            </tbody>
                            @if (ViewBag.IsCreate)
                            {
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="m-auto" style="text-align:center;justify-content:center">
                                                <button id="addnew" class="m-auto btn btn-info">+</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                    </div>
                    <div class="m-l-10 col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                @if (!ViewBag.IsCreate && Model != null && !String.IsNullOrEmpty(Model.Images))
                                {
                                    <input type="file" name="imgFiles" onchange="readURL(this,'imgSmall');" accept="image/*" />
                                    <div class="logo-preview">
                                        <img src="@Url.Content("~/Image/"+Model.Images)" id="imgSmall" width="200" />
                                    </div>
                                }
                                else
                                {
                                    <input type="file" name="imgFiles" required onchange="readURL(this,'imgSmall');" accept="image/*" />
                                    <img id="imgSmall" width="200" />
                                }
                            </div>
                            <div class="col-md-6">
                                <div class="m-t-10 position-relative form-group" style="margin-top:20px">
                                    <label asp-for="Note" class="">Ghi chú</label>
                                    <textarea asp-for="Note" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="col-12 float-right">
                <button style="margin-top:10px" style="margin-top:10px" class=" btn btn-primary float-right" type="submit">@(ViewBag.IsCreate == true ? "Thêm" : "Cập nhật")</button>
                <a asp-action="index" class=" btn btn-warning float-left">Trở về</a>
            </div>
        </div>
    </form>
@section scripts{   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function readURL(input, target) {
        if (input.files) {
            var reader = new FileReader();
            //if (input.files[0].size > 5242880) {
            //    $('.error').append('<p> File tải lên không quá 5mb</p>');
            //    $('input[type$="file"]').val('');
            //}
            //else {
            //    $('.error').hide();
                reader.onload = function (e) {
                    $('#' + target).attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            //}
        }
    }
    $(document).ready(function () {
        //add row
        $('.allow-search').select2();



        $("#addnew").click(function (e) {
            e.preventDefault();
            var $tableBody = $("#datatable");
            var $trlast = $tableBody.find("tbody tr:last");
            var $trnew = $trlast.clone();
            var surfix = $trnew.find(':input:first').attr('name').match(/\d+/);
            $trnew.find("td:last").html('<a href="#" class="btn btn-warning remove m-auto">X</a>');
            $.each($trnew.find('td:first'), function (i, val) {
                $(this).html((parseInt(surfix) + 1))
            });
            $.each($trnew.find(':input'), function (i, val) {
                //replac ename
                var oldN = $(this).attr('name');
                var newN = oldN.replace('[' + surfix + ']', '[' + (parseInt(surfix) + 1) + ']');
                $(this).attr('name', newN);
                //replace val
                var type = $(this).attr('type');
                if (typeof attr !== typeof undefined && attr !== false) {
                    if (type.toLowerCase() == "text") {
                        $(this).val('');
                    }
                    //if have other type replace with default val
                }
                if ($(this).hasClass("lvel")) {
                    $(this).val((parseInt(surfix))+1)
                    $('#count').text((parseInt(surfix) + 1))
                }

                $(this).removeClass("input-validation-error");

            });
            $trlast.after($trnew);
            //Re-assgin validation

            var form = $("form")
                .remove("validator")
                .remove("unobtrustsiveValidation");
            $.vaidator.unobtrustsive.parse(form);
        });
        $(document).on("click", "a.remove", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

        String.prototype.replaceBetween = function (start, end, what) {
            return this.substring(0, start) + what + this.substring(end);
        };

        var matcode = $("#MatCode");


        if ("@ViewBag.IsCreate" === "True") {
        $(document).ready(function () {
            _getFirstCode("@Constants.SUBDOMAINS/Materials/GetCodeWhenCreate/", matcode);
        });
        }
    $("#ddlDistrict").on('change', function () {
        _getCode($(this).val(), matcode, "@Constants.SUBDOMAINS/Materials/GetTypesCode/", 0, 2);
        _getCode($(this).val(), matcode, "@Constants.SUBDOMAINS/Materials/GetGroupsCode/", 8, 12);
    });
        $("#ddlCity").on('change', function () {
            _getCode($("#ddlDistrict").val(), matcode, "@Constants.SUBDOMAINS/Materials/GetTypesCode/", 0, 2);
            _getCode($("#ddlDistrict").val(), matcode, "@Constants.SUBDOMAINS/Materials/GetGroupsCode/", 8, 12);
        });
    $("#SizesMat").on('change', function () {
        _getCode($(this).val(), matcode, "@Constants.SUBDOMAINS/Materials/GetSizesCode/", 2, 4);
    });
    $("#BrandsMat").on('change', function () {
        _getCode($(this).val(), matcode, "@Constants.SUBDOMAINS/Materials/GetBrandsCode/", 4, 6);
    });
    $("#ColorsMat").on('change', function () {

        _getCode($(this).val(), matcode, "@Constants.SUBDOMAINS/Materials/GetColorsCode/", 6, 8)
    });



    function _getCode(id, targetId, url, start, end) {
        $.get(url + id, function (data) {
            if (data != null && data != undefined && data.length) {
                targetId.val(targetId.val().replaceBetween(start, end, data));
            }
        });
    }

    function _getFirstCode(url, targetId) {
        $.get(url, function (data) {
            if (data != null && data != undefined && data.length) {
                targetId.val(data);
            }
        });
        }
    var districtUrl = "@Constants.SUBDOMAINS/Materials/GetDistrictByCityId/";
    if ('@ViewBag.IsCreate' === 'True') {
        _getDistrict($("#ddlCity").val(), "ddlDistrict");
    }
    $("#ddlCity").on('change', function () {
        var id = $(this).val();
        _getDistrict(id, "ddlDistrict");
    });
    function _getDistrict(id, targetId) {
        $.get(districtUrl + id, function (data) {
            if (data != null && data != undefined && data.length) {
                var html = '';
                $.each(data, function (key, item) {
                    html += '<option value=' + item.id + '>' + item.cateTypeName + '</option>';
                });
                _getCode($("#ddlDistrict").val(), matcode, "@Constants.SUBDOMAINS/Materials/GetTypesCode/", 0, 2);
                _getCode($("#ddlDistrict").val(), matcode, "@Constants.SUBDOMAINS/Materials/GetGroupsCode/", 8, 12);
                $("#" + targetId).html(html);
            } else {
                var html = '';
                html += '<option value="">--Không có loại hàng phù hợp--</option>';
                $("#" + targetId).html(html);
            }
        });
    }
});
</script>
}
