﻿@model cloudscribe.Pagination.Models.PagedResult<ReportEISView>

@{
    ViewData["Title"] = "Thống Kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Controller"] = "Statistics";
    ViewData["Action"] = "EIS";
    int i = 1;
}
<div class="main-card mb-3 card">
    <h2 class="text-center" style="margin-top:5px">Thống kê</h2>
    <div class="card-body">
        <form asp-action="EIS" method="get">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <input type="datetime-local" name="from" style="margin-right:5px" class="form-control col-sm-2" placeholder="Đầu kỳ" value="@(Context.Request.Query["from"])" />
                        <input type="datetime-local" style="margin-right:5px" class="form-control col-sm-2" value="@(Context.Request.Query["to"])" name="to" placeholder="Cuối kỳ" />

                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                        
                        <a href="@Url.Action("ThongKeXNT", new { from =Context.Request.Query["from"], to = Context.Request.Query["to"] })" class="btn btn-danger" style="margin-left:auto">Xuất excel</a>
                    </div>
                </div>

            </div>
          

        </form>
        <div class="table-responsive" style="border-radius:7px">
            <table class="mb-0 table table-bordered text-center">
                <thead style="background-color:#85a7ed">
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Tên</th>
                        <th rowspan="2">Mã</th>
                        <th rowspan="2">
                            ĐVT
                        </th>
                        <th colspan="">
                            Đầu kỳ
                        </th>
                        <th colspan="2">
                            Nhập kho
                        </th>
                        <th colspan="2">
                            Xuất kho
                        </th>
                        <th colspan="">
                            Cuối kỳ
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Số lượng
                        </th>

                        <th>
                            Số lượng
                        </th>
                        <th>
                            Giá trị
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Giá trị
                        </th>
                        <th>
                            Số lượng
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count() > 0)
                    {
                        foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @item.name
                                </td>
                                <td>
                                    @item.code
                                </td>
                                <td>
                                    @item.units
                                </td>
                                <td>
                                    @item.fiquantity
                                </td>

                                <td>
                                    @item.import
                                </td>
                                <td>
                                    @(string.Format("{0:0,0} VNĐ",item.impPrice))

                                </td>
                                <td>
                                    @item.export
                                </td>
                                <td>
                                    @(string.Format("{0:0,0} VNĐ",item.expPrice))
                                </td>
                                <td>
                                    @item.laquantity
                                </td>

                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr class="text-center">
                            <td colspan="10"><em>Hiện không có dữ liệu nào</em></td>
                        </tr>
                    }
                </tbody>
                @if (Model.TotalItems > Model.PageSize)
                {
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center justify-content-center">
                                <cs-pager cs-paging-pagenumber=(int)Model.PageNumber
                                          cs-paging-totalitems=(int)Model.TotalItems
                                          cs-paging-pagesize=Model.PageSize
                                          cs-pagenumber-param="pageNumber"
                                          asp-controller=@ViewData["Controller"]
                                          asp-action=@ViewData["Action"]
                                          asp-route-from=@(Context.Request.Query["from"])
                                          asp-route-to=@(Context.Request.Query["to"])
                                          cs-pager-li-current-class="page-item active"
                                          cs-pager-li-non-active-class="page-item disabled"
                                          cs-pager-li-other-class="page-item"
                                          cs-pager-link-other-class="page-link"
                                          cs-pager-link-current-class="page-link"
                                          cs-pager-ul-class="pagination justify-content-center">
                                </cs-pager>


                            </td>
                        </tr>
                    </tfoot>
                }

                </table>
         
        </div>
    </div>
</div>
@section scripts{   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}